<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>大理雪域</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/sui.nav.css">
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
<body>
	
<div id="app">
	<!-- header导航 -->
	<div class="pubHeader" >
		<include src="header.html"></include>
	</div>
	<!-- header导航 end -->
	
	<div class="pubHeadBanner" >
		<include src="headBanner.html"></include>
	</div>
	
	<!-- <div class="poster">
	    <img src="images/index-banner1.jpg" width="100%" alt="135:64">
	</div> -->
	
	<!-- 工厂简介 -->
	<div>
        <div class="container snapshot-title">
            <h2>工厂简介</h2> </div>
        <hr>
        <div class="container">
            <div class="col-md-4 default snapshot-height" v-for="item in gcData"  @click="toDetail(item.id)">
                <div class="col-md-12 snapshot-img ">
                    <img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" />
                </div>
                <div class="col-md-12 snapshot-text">
                    <p>{{item.description}}</p>
                </div>
            </div>
            
        </div>
        <hr>
    </div>
	<!-- 工厂简介 end -->
	
	<!-- 寄语 -->
	<div class="utterance">
        <div class="container ">
            <h2>董事长寄语</h2>
        </div>
        <hr>
        <div class="container  utterance-body">
            <div class="col-md-5  utterance-img">
                <img :src="wordData.mainImg&&wordData.mainImg[0]?wordData.mainImg[0].url:''" alt="445*225.5">
            </div>
            <div class="col-md-7  utterance-text">
                <p>{{wordData.description}}</p>
            </div>
        </div>
        <hr>
    </div>
	
	<!-- 营养知识 -->
	<div class="knowledge">
		<div class="container">
			<h2>营养知识</h2>
		</div>
	<hr>  
	<div class="container">
		<div class="row" v-for="item in nutritionData"  @click="toDetail(item.id)">
			<div class="col-md-7">
				<div class="knowledge-index-title ">
					<h4>{{item.title}}</h4>
				</div>
				<div class="knowledge-index-body ">
					<a :href="detailLink"  style="text-decoration: none">  
						<p>{{item.description}}</p>
					</a>
				</div>
			</div>
			<div class="col-md-5 knowledge-index-img">
				<img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" alt="360*180">
			</div>
		</div>
    </div>
    <hr>
</div>
	
	<!-- 新闻中心 -->
	<div class="news-index">
		<div class="container">
			<h2>新闻中心</h2>
		</div>
		<hr>
		<div class="container">
			<div class="row" v-for="item in newsData" @click="toDetail(item.id)">
				<div class="col-md-6" >
					<div class="news-index-title" >
						<a   style="text-decoration: none"> <h4>{{item.title}}</h4></a>
					</div>
					<div class="news-index-body">
						<a   style="text-decoration: none">  <p>{{item.description}}</p></a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
		
	<div class=" friends container">
        <h4> 友情链接...</h4>
        <div class="col-md-12">
            <a class="col-md-2" v-for="item in urlData">{{item.description}}</a>
            
        </div>
    </div>


	<include src="footer.html"></include>


</div>

</body>


<!-- <script src="js/swiper.min.js"></script> -->
	
<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
		        	banner_index:0,
		        	is_toggle:false,
					is_show:false,
					gcData:[],
					wordData:{},
					nutritionData:[],
					wx_show:2,
					mainData: [],
					labelData: [],
					urlData:[],
					newsData:[],
					detailLink:"proDetail.html",
					paginate: { 
					    count: 0, 
					    currentPage: 1, 
					    pagesize:6, 
					    is_page: true, 
					},
					urlData:[]
					
				

		        }
		    },
		    created:function () {
		        var self = this;
				self.getGcData();
				self.getWordData();
				self.getNutritionData();
				self.getNewsData();
				self.getUrlData();
				// if(window.screen.width<760){
				// 	self.slidesPerView = 3
				// }
				window.onload=function(){
					window.base.bus.$emit('to_headBanner',{title:'轮播图'}); 
				};
		    },
		    methods: {
				
				toDetail(id){
					const self = this;
					window.location.href = 'proDetail.html?id='+id
				},
		        
				getGcData() {
					var self = this;	
					var postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
					};
					postData.getBefore = {
						article: {
							tableName: 'Label',
							searchItem: {
								title: ['=', ['工厂简介']],
							},
							middleKey: 'menu_id',
							key: 'id',
							condition: 'in',
						},
					};
					var callback = function(res) {
						self.gcData.push.apply(self.gcData, res.info.data);
						
					};
					window.base.articleGet(postData, callback);
				},
				
				getNutritionData() {
					var self = this;	
					var postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
					};
					postData.getBefore = {
						article: {
							tableName: 'Label',
							searchItem: {
								title: ['=', ['营养知识']],
							},
							middleKey: 'menu_id',
							key: 'id',
							condition: 'in',
						},
					};
					var callback = function(res) {
						self.nutritionData.push.apply(self.nutritionData, res.info.data);
						
					};
					window.base.articleGet(postData, callback);
				},
				
				getNewsData() {
					var self = this;	
					var postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
					};
					postData.getBefore = {
						article: {
							tableName: 'Label',
							searchItem: {
								title: ['=', ['首页新闻中心']],
							},
							middleKey: 'menu_id',
							key: 'id',
							condition: 'in',
						},
					};
					var callback = function(res) {
						self.newsData.push.apply(self.newsData, res.info.data);
						
					};
					window.base.articleGet(postData, callback);
				},
				
				getWordData() {
					var self = this;	
					var postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
					};
					postData.getBefore = {
						article: {
							tableName: 'Label',
							searchItem: {
								title: ['=', ['董事长寄语']],
							},
							middleKey: 'menu_id',
							key: 'id',
							condition: 'in',
						},
					};
					var callback = function(res) {
						self.wordData = res.info.data[0];
						
					};
					window.base.articleGet(postData, callback);
				},
				
				getUrlData(){
				    var self = this;
				    var postData = {};
				    postData.searchItem = {
						title:'友情链接'
					};
					postData.getAfter = {
						child: {
							tableName: 'Label',
							middleKey: 'id',
							key: 'parentid',
							searchItem: {
								status: 1,
							},
							condition: '='
						},
					};
				    var callback = function(res){
				        if(res.info.data.length>0&&res.info.data[0]['child']){
							self.urlData =res.info.data[0]['child'];
							console.log('self.urlData',self.urlData)
				        };    
				    };
				    window.base.labelGet(postData, callback);
				},
				
		    }
		});
	</script>

</html>